/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
    background-image: url(/images/blades.jpg);
    background-size: cover;
}
.jumbotron .container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1ex;
}
