{#  -*- coding: utf-8 -*- #}

{% macro html() %}
    <section id="banner">
        <header>
            <h2>Aktuellt</h2>
            <p>Stackenföreläsning den 38 Maj 2008 om tidsresor.</p>
        </header>
    </section>
{% endmacro %}
