{#  -*- coding: utf-8 -*- #}

{% macro html() %}
    <section id="intro" class="container">
        <div class="row">
            <div class="4u 12u(mobile)">
                <section class="first">
                    <i class="icon featured fa-cube"></i>
                    <header>
                        <h2>{{ messages("box1.title") }}</h2>
                    </header>
                    <p>{{ messages("box1.text") }}</p>
                    <br />
                    <p>
                        <a href="{{ messages("box1.button.url") }}" class="button alt">{{ messages("box1.button.text") }}</a>
                    </p>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section class="middle">
                    <i class="icon featured alt fa-group"></i>
                    <header>
                        <h2>{{ messages("box2.title") }}</h2>
                    </header>
                    <p>{{ messages("box2.text") }}</p>
                    <br />
                    <p>
                        <a href="{{ messages("box2.button.url") }}" class="button">{{ messages("box2.button.text") }}</a>
                    </p>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section class="last">
                    <i class="icon featured alt2 fa-university"></i>
                    <header>
                        <h2>{{ messages("box3.title") }}</h2>
                    </header>
                    <p>{{ messages("box3.text") }}</p>
                    <br />
                    <p>
                        <a href="{{ messages("box3.button.url") }}" class="button alt">{{ messages("box3.button.text") }}</a>
                    </p>
                </section>
            </div>
        </div>
    </section>
{% endmacro %}
