{#  -*- coding: utf-8 -*- #}

{% macro html() %}
    <section id="intro" class="container">
        <div class="row">
            <div class="4u 12u(mobile)">
                <section class="first">
                    <i class="icon featured fa-cube"></i>
                    <header>
                        <h2>Projekt och Aktiviteter</h2>
                    </header>
                    <p>
                        Vi erbjuder gemensamma projekt att arbeta på,
                        tjänster för medlemmar, föreningar eller sektioner
                        att använda. Föreläsningar och andra kul aktiviteter.
                    </p>
                    <br />
                    <p>
                        <a href="#" class="button alt">Läs mer</a>
                    </p>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section class="middle">
                    <i class="icon featured alt fa-group"></i>
                    <header>
                        <h2>För studenter</h2>
                    </header>
                    <p>
                        Stacken är en datorförening för studenter och anställda
                        vid KTH. Föreningens syfte är att främja intresset för
                        och vidga kunskaper inom datorområdet.
                    </p>
                    <br />
                    <p>
                        <a href="#" class="button">Bli medlem</a>
                    </p>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section class="last">
                    <i class="icon featured alt2 fa-university"></i>
                    <header>
                        <h2>40 år av Stacken</h2>
                    </header>
                    <p>
                        Stacken har varit på och runt KTH i 40 år och varit
                        med om födelsen av både den moderna datorn och
                        internet som vi känner det i dag.
                    </p>
                    <br />
                    <p>
                        <a href="#" class="button alt">Historia</a>
                    </p>
                </section>
            </div>
        </div>
    </section>
{% endmacro %}
