{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'post.tmpl' %}

{% block content %}
<div style="position: absolute; top: 1em; right: 1em; margin: 0em 1em">
    {{ pheader.html_translations(post) }}
</div>
<article class="post-{{ post.meta('type') }} storypage" itemscope="itemscope" itemtype="http://schema.org/Article">
    {% if permalink != "/" and permalink != "/en/" %}
        <header style="margin-top: 2em;">
            {{ pheader.html_title() }}
        </header>
    {% endif %}
    <div style="padding: 1em 2em; font-size: 1.2em" class="e-content entry-content" itemprop="articleBody text">
        {{ post.text() }}
    </div>
    {{ helper.mathjax_script(post) }}
</article>
{% endblock %}
