{#  -*- coding: utf-8 -*- #}

{#
    This is the /news/index/ page that lists the latest news.
#}

{% extends 'base.tmpl' %}
{% import 'macro_menu.tmpl' as menu with context %}

{% block menu %}{{ menu.show_menu() }}{% endblock %}
{% block lang %}
    {% if lang == "sv" %}
        <li><a href="/en/news/index/" rel="alternate" hreflang="{{ langname }}">English</a></li>
    {% else %}
        <li><a href="/news/index/" rel="alternate" hreflang="{{ langname }}">Svenska</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<h2>{% if lang == "sv" %}Nyheter & Kalender{% else %}News & Calendar{% endif %}</h2>
<div class="jumbotron">
    <div class="container">
        <h2><a href="{{ posts.0.permalink() }}" class="u-url">{{ posts.0.title()|e }}</a></h2>
        {{ posts.0.text(teaser_only=True) }}
        <small>{{ posts.0.formatted_date(date_format)|e }}</small>
    </div>
</div>


<div class="col-md-10" style="padding-left: 0px">
{% for post in posts %}

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span style="float:right">{{ post.formatted_date(date_format)|e }}</span>
                <a href="{{ post.permalink() }}" class="u-url">{{ post.title()|e }}</a>
            </h3>
        </div>
        <div class="panel-body">
            {{ post.text() }}
        </div>
    </div>

{% endfor %}
</div>
<div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">
                {% if lang == "sv" %}År{% else %}Year{% endif %}
            </h3>
        </div>
        <div class="panel-body text-center">
            {% set this_year = comment_system %}
            {% set news_to = 1996 %}
            {% for year in range(this_year - (news_to - 1)) %}
                {% set root_url = "/" if lang == "sv" else "/en/" %}
                <p style="margin-bottom: 0.4em">
                    <a class="reference" href="{{ root_url }}news/{{ this_year - year }}">{{ this_year - year }}</a>
                </p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-md-10" style="padding-left: 0px">
    <div class="panel panel-info">
        <div class="panel-body">
            {% if lang == "sv" %}
                Denna sida visar bara de fyra senaste nyheterna, för att se alla nyheter
                för {{ this_year }} gå <a href="/news/{{ this_year }}/">hit</a>.
            {% else %}
                To see all news for {{ this_year }} go to
                <a href="/en/news/{{ this_year }}/">this page</a>.
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% if lang == "sv" %}
        - This page is also available in <a href="/en/news/index/" rel="alternate" hreflang="{{ langname }}">English</a>
    {% else %}
        - Den är sidan finns även på <a href="/news/index/" rel="alternate" hreflang="{{ langname }}">svenska</a>
    {% endif %}
{% endblock %}
