{#  -*- coding: utf-8 -*- #}

{#
    This is the /news/index/ page that lists the latest news.
#}

{% extends 'base.tmpl' %}
{% import 'macro_menu.tmpl' as menu with context %}

{% block menu %}{{ menu.show_menu() }}{% endblock %}

{% block content %}
<h2>Nyheter & Kalender</h2>
{% for post in posts %}
    {% if loop.index == 1 %}
        <div class="jumbotron">
            <div class="container">
                <h2><a href="{{ post.permalink() }}" class="u-url">{{ post.title()|e }}</a></h2>
                {{ post.text(teaser_only=True) }}
                <small>{{ post.formatted_date(date_format)|e }}</small>
            </div>
        </div>
    {% else %}
    <div>
        <h2><a href="{{ post.permalink() }}" class="u-url">{{ post.title()|e }}</a></h2>
        <small>{{ post.formatted_date(date_format)|e }}</small>
        {{ post.text(teaser_only=True) }}
    </div>
    {% endif %}
{% endfor %}
{% endblock %}
