{#  -*- coding: utf-8 -*- #}

{% macro lang() %}
    {% for langname in translations|sort %}
        {% if langname != lang and post.is_translation_available(langname) %}
            <li><a href="{{ post.permalink(langname) }}" rel="alternate" hreflang="{{ langname }}">{{ messages("LANGUAGE", langname) }}</a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

