{#  -*- coding: utf-8 -*- #}

{% extends 'base.tmpl' %}
{% import 'menu.tmpl' as menu with context %}
{% import 'macro_lang.tmpl' as lang with context %}

{#
    This is the template for a news post with urls like /news/2017/a-news-post/
#}

{% block menu %}{{ menu.show_menu() }}{% endblock %}
{% block lang %}{{ lang.lang() }}{% endblock %}

{% block content %}
    <h2>{{ post.title() }}</h2>
    {{ post.text() }}
{% endblock %}
