{#  -*- coding: utf-8 -*- #}

{% extends 'base.tmpl' %}
{% import 'macro_menu.tmpl' as menu with context %}
{% import 'macro_lang.tmpl' as language with context %}

{#
    This is displays various pages from the folder pages with the base /
    This includes the front page.
#}

{% block menu %}{{ menu.show_menu() }}{% endblock %}
{% block lang %}{{ language.lang() }}{% endblock %}

{% block content %}
    <h2>{{ post.title() }}</h2>
    {{ post.text() }}
{% endblock %}
