{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'macro_menu.tmpl' as menu with context %}

{#
    This is the /news/YYYY/ yearly page that lists all posts for a specific year.
#}

{% block menu %}{{ menu.show_menu() }}{% endblock %}
{% block lang %}
    {% if lang == "sv" %}
        <li><a href="/en/news/{{ tag }}/" rel="alternate" hreflang="{{ langname }}">English</a></li>
    {% else %}
        <li><a href="/news/{{ tag }}/" rel="alternate" hreflang="{{ langname }}">Svenska</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<h2>{% if lang == "sv" %}Nyheter för år {% else %}News for year {% endif %}{{ tag }}</h2>

<div class="col-md-10" style="padding-left: 0px">
{% for post in posts %}

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span style="float:right">{{ post.formatted_date(date_format)|e }}</span>
                <a href="{{ post.permalink() }}" class="u-url">{{ post.title()|e }}</a>
            </h3>
        </div>
        <div class="panel-body">
            {{ post.text(teaser_only=True) }}
        </div>
    </div>

{% endfor %}
</div>
<div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">
                {% if lang == "sv" %}År{% else %}Year{% endif %}
            </h3>
        </div>
        <div class="panel-body text-center">
            {% set this_year = (posts|first).date.year %}
            {% set news_to = 1996 %}
            {% for year in range(this_year - (news_to - 1)) %}
                {% set root_url = "/" if lang == "sv" else "/en/" %}
                <p style="margin-bottom: 0.4em">
                    <a class="reference" href="{{ root_url }}news/{{ this_year - year }}">{{ this_year - year }}</a>
                </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% if lang == "sv" %}
        - This page is also available in <a href="/en/news/{{ tag }}/" rel="alternate" hreflang="{{ langname }}">English</a>
    {% else %}
        - Den är sidan finns även på <a href="/news/{{ tag }}/" rel="alternate" hreflang="{{ langname }}">svenska</a>
    {% endif %}
{% endblock %}
