<div class="row">
    <div class="col-md-4">
        <h2>{{ box1_heading }}</h2>
        <p>{{ box1_text }}</p>
    </div>
    <div class="col-md-4">
        <h2>{{ box2_heading }}</h2>
        <p>{{ box2_text }}</p>
    </div>
    <div class="col-md-4">
        <h2>{{ box3_heading }}</h2>
        <p>{{ box3_text }}</p>
    </div>
</div>
