<header style="margin: 1em -2em">
    <section id="banner">
        <header>
            <h2 style="color: white; font-size: 2em; margin-bottom: 0.5em">{{ title }}</h2>
            <p>{{ text }}</p>
        </header>
    </section>
<header>
