<div class="row alert alert-info">
  <div class="col-md-9">
   <p>{{ data }}</p>
  </div>
  <div class="col-md-3">
    <a class="btn btn-primary btn-lg" href="{{ link }}">{{ text }}</a>
  </div>
</div>
